
<!-- Hero -->
<section id="hero-travel" class="hero condensed overlap">
    <div class="hero-body container flex center">
        <h1 class="page-title">Travel</h1>
    </div>
</section>
<section class="container page-content text-content txt-just">
    <p>
        <b>Long Beach (LBG)</b>, <b>John Wayne (SNA)</b>, and <b>Los Angeles International (LAX)</b> are three of the closest airport to the venues of our wedding ceremony and reception.
        <br/><br/>
        For international traveler, we recommend you fly into <b>LAX</b>, however, you could also fly into <b>Ontario International Airport (ONT)</b>.
    </p>
    
</section>
<section class="container map-container">
    <iframe 
        crossorigin="anonymous"
        id="venues-airport-map"
        src="https://www.google.com/maps/d/embed?mid=1496Dvyv8Woz1ILc07ZV3L924uIs1hTGw" 
        width="100%" 
        height="480"
        frameborder="0"
        scrolling="no"></iframe>
</section>