<section id="hero-registry" class="hero condensed overlap">
    <div class="hero-body container flex center">
        <h1 class="page-title">Registry</h1>
    </div>
</section>
<section class="container page-content text-content txt-center">
    <p class="txt-just">
        As we are not moving into a home at this time, we will not be having a wedding registry. However, if you would like to give a gift, we would be grateful for a monetary gift towards our future together.
    </p>
    <p>
        If you prefer electronic gifts, it is available on<br/>
        <b>Zelle:</b> <em>gacon.14@gmail.com</em><br/>
        <b><a href="https://venmo.com/Minh-Vo">Venmo</a>:</b> <em>@Minh-Vo</em>
        <br/><br/>
        Thank you!<br/>
        Minh & Theresa
    </p>
</section>