@import '../../shared/styles/variables.scss';
@import '../../shared/styles/mixins.scss';

body, html {
    font-size: 20px;
    font-family: $overlock-font;

    @media (min-width: $min-width-sm){
        font-size: 16px;
    }

    @media (min-width: $min-width-lg){
        font-size: 18px;
    }
}

a, 
a.active, 
a:hover,
a:focus {
    text-decoration: none;
}

.btn {
    font-size: 1rem;
    background: $blue-dusty-dark;
    border-radius: 1rem;
    border:0.1rem solid $blue-dusty-dark;
    color: white;

    &:hover {
        background: $bluebell;
        border-color: $bluebell;
        color: white;
    }
}

.hero {
    background: gray no-repeat center;
    background-size:cover;
    position:relative;
    width: 100%;
    height: 80vh;
    font-size: 2rem;
    text-align: center;
    color: white;

    &:after {
        content: "";
        display: inline-block;
        height:50%;
        width: 100%;
        background: linear-gradient(to top, white, rgba(255,255,255,0));
        position: absolute;
        bottom: -1px;
        left: 0;
        z-index: 0;
    }

    &.fullscreen {
        height: 100vh;
        &:after {
            height: 8rem;
        }
    }

    &.overlap {
        margin-bottom: -8rem;
    }
}

.hero-body {
    text-align: center;
    height: 100%;
    padding: 4rem 1rem;
    display: inline-block;
    position: relative;
    z-index: 1;

    &.flex {
        @include flexbox();

        &.center {
            @include justify-content(center);
            @include align-content(center);
        }
    }

    .page-title {
        font-family: $grand-hotel-font;
        text-shadow: 0 0 4px $blue-dusty-dark;
        margin: auto;
        font-size: 7rem;
        font-weight: normal;
    }
}

@media (min-width: 768px){
    .hero {
        &.condensed {
            padding: 6rem 0 2rem;
        }
    }

    .text-content {
        padding: 0 4rem;
    }
}