@import '../../shared/styles/variables.scss';
@import '../../shared/styles/mixins.scss';

body, html {
    font-size: 16px;
    font-family: $overlock-font;

    @media (min-width: $min-width-sm){
        font-size: 16px;
    }

    @media (min-width: $min-width-lg){
        font-size: 18px;
    }
}

.bold {
    font-weight: bold;
}

.upper {
    text-transform: uppercase;
}

a, 
a.active, 
a:hover,
a:focus {
    text-decoration: none;
}

a, .btn, button, .lnk{
    cursor: pointer;
    text-decoration: none;
    @include transition(.25s all ease-in-out);

    &.disabled, &[disabled="true"] {
        pointer-events: none;
    }
}

.lnk {
    &.disabled, &[disabled="true"] {
        color: $gray;
        text-shadow: 0 0 0.25rem white;
    }
}

.lnk-primary {
    color: $blue-dusty-dark;
    text-shadow: 0 0 0.25rem white;
    cursor: pointer;
    
    &:hover {
        color: white;
        text-shadow: 0 0 0.25rem $blue-dusty-dark;
    }
}

.lnk-secondary {
    color: white;
    text-shadow: 0 0 0.25rem $blue-dusty-dark;
    cursor: pointer;
    
    &:hover {
        color: $blue-dusty-dark;
        text-shadow: 0 0 0.25rem white;
    }
}

.btn-container {
    padding: 0.5rem 0;
    @include flexbox();
    @include justify-content(space-around);
    @include align-items(center);
}

.btn {
    border: 0.125rem solid $blue-dusty-dark;
    border-radius: 1.5rem;
    padding: 0.375rem 0.75rem;
    font-size: 1.25rem;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);

    &:hover {
        box-shadow: 0 0 0.25rem $blue-dusty-dark;
    }

    &.disabled, &[disabled="true"] {
        border-color: $gray;
    }
}

.btn-primary {
    color: white;
    background: $blue-dusty-dark;

    &:hover {
        color: $blue-dusty-dark;
        background: white;
    }

    &.disabled, &[disabled="true"] {
        background: $gray;
    }
}

.btn-secondary {
    color: $blue-dusty-dark;
    background: white;

    &:hover {
        color: white;
        background: $blue-dusty-dark;
    }

    &.disabled, &[disabled="true"] {
        color: $gray;
        border-color: $gray;
    }
}

.btn-icon {
    width: 43px;
    height: 43px;
    font-size: 26px;
    background: white;
    color: $blue-dusty-dark;
    padding: 0;

    &:hover {
        background: $blue-dusty-dark;
        color: white;
    }
}

.txt-left {
    text-align: left;
}
.txt-right {
    text-align: right;
}
.txt-center {
    text-align: center;
}
.txt-just {
    text-align: justify;
}
.hero {
    background: gray no-repeat center;
    background-size:cover;
    position:relative;
    width: 100%;
    height: 80vh;
    font-size: 2rem;
    text-align: center;
    color: white;

    &:after {
        content: "";
        display: inline-block;
        height:50%;
        width: 100%;
        background: linear-gradient(to top, white, rgba(255,255,255,0));
        position: absolute;
        bottom: -1px;
        left: 0;
        z-index: 0;
    }

    &.fullscreen {
        height: 100vh;
        &:after {
            height: 8rem;
        }
    }

    &.overlap {
        margin-bottom: -8rem;
    }
}

.hero-body {
    text-align: center;
    height: 100%;
    padding: 4rem 1rem;
    display: inline-block;
    position: relative;
    z-index: 1;

    &.flex {
        @include flexbox();

        &.center {
            @include justify-content(center);
            @include align-content(center);
        }
    }

    .page-title {
        font-family: $grand-hotel-font;
        text-shadow: 0 0 4px $blue-dusty-dark;
        margin: auto;
        font-size: 7rem;
        font-weight: normal;
    }
}

@media (min-width: 768px){
    .hero {
        &.condensed {
            padding: 6rem 0 2rem;
        }
    }

    .text-content {
        padding: 0 4rem;
    }
}