@import '../../shared/styles/variables.scss';
@import '../../shared/styles/mixins.scss';

.nav-bar {
    position: fixed;
    width: 100%;
    z-index: 2;
    @include flexbox();

    a {
        color: white;
        cursor: pointer;
        text-decoration: none;
        @include transition(.25s all ease-in-out);

        &:hover,
        &.active {
            color: $white-antique;
            border-color: $white-antique;
        }
    }
}

.nav-menu {
    list-style-type: none;
    @include flexbox();
}

.nav-menu-group {
    @include flexbox();
}

.nav-link {
    font-family: $crushed-font;
}

// mobile
@media (max-width: $max-width-xs){
    .nav-bar {
        left: -100%;
        height: 100%;
        background: linear-gradient( to right, $blue-dusty-dark, rgba(255,255,255,0) );
        @include flex-dir(column);
        @include transition(.25s all ease-in-out);

        &.active{
            left: 0;
        }
    }

    .menu-toggle {
        left: 0;
        z-index: 1;
        top: 0.5rem;
        color: white;
        position: fixed;
        font-size: 2rem;
        @include transition(.25s all ease-in-out);

        i {
            transform: translate(-100%, 0);
            width: 3rem;
            height: 3rem;
            background: $eggplant;
            border-top-right-radius: 100%;
            border-bottom-right-radius: 100%;
            padding: 0.5rem 0.875rem;
            position: absolute;
            top: 0;
            @include transition(transform .25s ease-in-out);

            &:before {
                float: right;
            }
        }

        .show {
            transform: translate(0, 0);
        }

        &:hover {
            color: $white-antique;
        }
    }

    .nav-menu {
        padding: 4rem 5rem 4rem 2rem;
        height: 100%;
        font-size: 1.5rem;
        @include flex-dir(column);
    }

    .nav-menu-group {
        @include flex-dir(column);
    }

    .nav-item {
        text-shadow: 0 0 0.3125rem $blue-dusty-dark;
        display: block;
        margin-bottom: 2rem;
    }

    .nav-link {
        &:hover,
        &.active {
            margin-left: 1rem;
        }
    }

    .nav-icon {
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 0.5rem;
        display: inline-block;
    }
}

// tablet & desktop
@media (min-width: $min-width-sm){
    .nav-bar {
        left: 0;
        height: auto;
        padding: 1rem 1rem 2rem;
        background: linear-gradient( to bottom, $blue-dusty-dark, rgba(255,255,255,0) );
        @include align-items(center);
        @include justify-content(center);
        
    }

    .nav-menu {
        padding: 0;
        width: 100%;
        position: static;
        max-width: 64rem;
        @include justify-content(space-between);
        @include align-items(center);
    }

    .nav-menu-group {
        min-width: 17rem;
        width: calc((100% - 12rem) / 2);
        border-bottom: 1px solid white;
        @include flex-dir(row);

        &.left {
            @include justify-content(flex-start);

            .nav-item {
                margin-right: 2rem;

                &:last-child {
                    margin-right: 0;
                }
            }

            .nav-link {
                @include align-items(flex-start);
            }
        }

        &.right {
            @include justify-content(flex-end);

            .nav-item {
                margin-left: 2rem;

                &:first-child {
                    margin-left: 0;
                }
            }

            .nav-link {
                @include align-items(flex-end);
            }
        }
    }

    .nav-link {
        height: 3rem;
        font-size: 1.2rem;
        @include flexbox();
        @include flex-dir(column);
        @include justify-content(flex-end);
        
        &:hover,
        &.active {
            font-size: 1.4rem;
        }
    }

    .nav-logo {
        font-size: 2rem;
        margin: 0 .5rem;
        width: 9rem;
        height: 4rem;
        border-radius: 9px;
        font-family: $grand-hotel-font;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);

        i {
            margin: 0 .5rem;
        }

        &:hover{
            font-size: 2.5rem;
            border-top-width: 2px;
            border-bottom-width: 2px;
            border-radius: 12px;
            letter-spacing: 6px;
        }
    }

    &.scrolled {
        .nav-logo {
            height: 3.56rem;
        }
    }
}