<nav class="nav-bar container" role="navigation" id="nav-bar" [class.active]="menuShow">
    <a class="visible-xs-inline-block menu-toggle" id="menu-toggle" (click)="toggleMenu()">
        <i class="fa fa-bars" [class.show]="!menuShow"></i>
        <i class="fa fa-times" [class.show]="menuShow"></i>
    </a>
    <div class="nav-menu" id="nav-menu">
            <a class="nav-item upper visible-xs" href="/home">
                <span class="nav-icon"><i class="fa fa-home"></i></span>
                <span>HOME</span>
            </a>
            <a class="nav-item upper" href="/schedule">
                <span class="nav-icon"><i class="fa fa-clock"></i></span>
                <span>SCHEDULE</span>
            </a>
            <a class="nav-item upper shrink-0" href="/wedding-party">
                <span class="nav-icon"><i class="fa fa-male"></i><i class="fa fa-female"></i></span>
                <span>WEDDING PARTY</span>
            </a>
            <a class="nav-item upper" href="/registry">
                <span class="nav-icon"><i class="fa fa-gift"></i></span>
                <span>REGISTRY</span>
            </a>
            <a class="nav-item nav-logo hidden-xs" href="/home">T + M</a>
            <a class="nav-item upper" href="/media">
                <span class="nav-icon"><i class="fa fa-images"></i></span>
                <span>Gallery</span>
            </a>
            <a class="nav-item upper" href="/travel">
                <span class="nav-icon"><i class="fa fa-plane"></i></span>
                <span>TRAVEL</span>
            </a>
            <a class="nav-item upper" href="/rsvp">
                <span class="nav-icon"><i class="fa fa-user-check"></i></span>
                <span>RSVP</span>
            </a>
    </div>
</nav>
