<nav class="nav-bar container" role="navigation" id="nav-bar" [class.active]="menuShow">
    <a class="visible-xs-inline-block menu-toggle" id="menu-toggle" (click)="toggleMenu()">
        <i class="fa fa-bars" [class.show]="!menuShow"></i>
        <i class="fa fa-times" [class.show]="menuShow"></i>
    </a>
    <div class="nav-menu" id="nav-menu">
        <div class="nav-item visible-xs">
            <a class="nav-link" routerLink="/" routerLinkActive="active">
                <span class="nav-icon"><i class="fa fa-home"></i></span>
                <span>HOME</span>
            </a>
        </div>
        <div class="nav-menu-group left">
            <div class="nav-item">
                <a class="nav-link" routerLink="/schedule" routerLinkActive="active">
                    <span class="nav-icon"><i class="fa fa-clock"></i></span>
                    <span>SCHEDULE</span>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" routerLink="/gallery" routerLinkActive="active">
                    <span class="nav-icon"><i class="fa fa-images"></i></span>
                    <span>Gallery</span>
                </a>
            </div>
            <div class="nav-item" >
                <a class="nav-link" routerLink="/registry" routerLinkActive="active">
                    <span class="nav-icon"><i class="fa fa-gift"></i></span>
                    <span>REGISTRY</span>
                </a>
            </div>
        </div>
        <a class="nav-item nav-logo hidden-xs" routerLink="/">T+M</a>
        <div class="nav-menu-group right">
            <div class="nav-item">
                <a class="nav-link" routerLink="/wedding-party" routerLinkActive="active">
                    <span class="nav-icon"><i class="fa fa-male"></i><i class="fa fa-female"></i></span>
                    <span>WEDDING PARTY</span>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" routerLink="/travel" routerLinkActive="active">
                    <span class="nav-icon"><i class="fa fa-plane"></i></span>
                    <span>TRAVEL</span>
                </a>
            </div>
            <div class="nav-item">
                <a class="nav-link" routerLink="/rsvp" routerLinkActive="active">
                    <span class="nav-icon"><i class="fa fa-user-check"></i></span>
                    <span>R.S.V.P.</span>
                </a>
            </div>
        </div>
    </div>
</nav>
