@import '../../shared/styles/variables.scss';
@import '../../shared/styles/mixins.scss';

#hero-wp {
    background-image: url('../img/hero-wp.jpg');
}

h1, h2, h3, h4, h5 {
    margin: 0.625rem 0;
}

.wp-wrapper {
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(space-between);

    @media (min-width: $min-width-md) {
        @include justify-content(center);
    }
}
.wp-pair {
    width: 100%;
    @include flexbox();
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    @include transition(all .5s ease-in-out);
    
    @media (min-width: $min-width-md){
        width: calc(50% - 1rem);
    }

    @media (min-width: $min-width-md) {
        &:nth-child(2n) {
            margin-left: 2rem;
        }
    }
}

.groomsmen, 
.bridemaids {
    width: calc(50% - .5rem);
}

.person {
    margin-bottom: 2rem;
    position: relative;

    &.bm {
        color: $eggplant;
    }

    &.gm {
        color: $blue-dusty-dark;
    }
}

.btn-icon{
    &.bm {
        color: $eggplant;
        border-color: $eggplant;

        &:hover, &:focus, &.focus {
            color: white;
            background: $eggplant;
        }
    }

    &.gm {
        color: $blue-dusty-dark;
        border-color: $blue-dusty-dark;

        &:hover, &:focus, &.focus {
            color: white;
            background: $blue-dusty-dark;
        }
    }
}

.bio-name-wrapper, .name-wrapper {
    .name {
        margin: 0.625rem 0;
    }

    .title {
        color: $charcoal;
    }
}

.name-wrapper {
    @media(min-width: $min-width-sm){
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(255,255,255,0.7);
        padding-bottom: 1rem;

        .name {
            font-size: 2rem;
            margin: 0;
        }
    
        .title {
            font-size: 1.25rem;
            margin-top: 0;
        }
    }
}

@media (max-width: $max-width-xs){
    .bio {
        top: 100vh;
        left: 0%;
        width: 100%;
        height: 100vh;
        position: fixed;
        font-weight: bold;
        font-size: 1.25rem;
        display: inline-block;
        overflow: hidden;
        padding: 1rem;
        z-index: 1;
        background: rgba(0,0,0,0.5);
        @include transition(top 0.5s ease-in-out);
    
        &.active {
            top: 0;
        }
    
        .bio-bg {
            width: 100%;
            height: 100%;
            border-radius: 4px;
            pointer-events: none;
        }
    
        .bio-content {
            position: absolute;
            top: 1rem;
            left: 1rem;
            right: 1rem;
            bottom: 1rem;
            padding: 1rem;
            background: radial-gradient(closest-side, rgba(255, 255, 255, 0.1), white 150%);
            text-shadow: 0 0 0.25rem $white-antique;
            border-radius: 4px;
        }
    
        .bio-text {
            color: $charcoal;
            overflow-y: scroll;
            height: calc(100% - 5.9375rem);
            margin: 0;
        }
    
        .bio-close {
            position: absolute;
            top: -.5rem;
            right: -.5rem;
        }

        .title {
            font-weight: bold;
        }
    }
}

@media (min-width: $min-width-sm) {
    $header-spacing: 7rem;
    
    .bio {
        top: 100vh;
        left: 0%;
        width: 100%;
        height: 100vh;
        position: fixed;
        font-weight: bold;
        font-size: 1.25rem;
        display: inline-block;
        overflow: hidden;
        padding: $header-spacing 1rem 1rem;
        z-index: 1;
        background: rgba(0,0,0,0.5);
        @include transition(top 0.5s ease-in-out);
    
        &.active {
            top: 0;
        }
    
        .bio-bg {
            width: 100%;
            height: 100%;
            border-radius: 4px;
            pointer-events: none;
            max-width: 64rem;
            width: 100%;
        }
    
        .bio-content {
            position: absolute;
            top: $header-spacing;
            left: 1rem;
            right: 1rem;
            bottom: 1rem;
            padding: 1rem;
            background: radial-gradient(closest-side, rgba(255, 255, 255, 0.1), white 125%);
            text-shadow: 0 0 0.25rem $white-antique;
            border-radius: 4px;
            max-width: 64rem;

            @media(min-width: $min-width-md){
                left: 50%;
                transform: translate(-50%, 0);
                right: initial;
                width: 100%;
            }
        }
    
        .bio-text {
            color: $charcoal;
            height: calc(100% - 5.9375rem);
            margin: 0;
        }
    
        .bio-close {
            position: absolute;
            top: -.5rem;
            right: -.5rem;
        }

        .title {
            font-weight: bold;
        }
    }
}

@mixin pic-state($url1, $url2, $pos) {
    background-image:  url($url2);
    background-position: $pos;
    @include transition(background-image 0.25s ease-in);

    &:hover,
    &.active {
        background-image: url($url1);
    }
}

.pic {
    width: 100%;
    padding: 50% 0;
    background: transparent no-repeat center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 9px rgba(0,0,0,.66);
    display: inline-block;
    position: relative;
    @include transition(max-width .25s ease-in-out, max-height .25s ease-in-out);
    
    $percent-45: 14.64466094067262%;
    .bio-toggle {
        position: absolute;
        bottom: $percent-45;
        right: $percent-45;
        transform: translate(50%, 50%);

        @media(min-width: $min-width-sm){
            top: $percent-45;
            bottom: initial;
            right: $percent-45;
            transform: translate(50%, -50%);
        }
    }

    &.bio-bg {
        padding: 0;
    }

    &.james {
        @include pic-state('../img/christine-bw.jpg', '../img/christine.jpg', top);
    }

    &.chris {
        @include pic-state('../img/christine-bw.jpg', '../img/christine.jpg', top);
    }

    &.jason {
        @include pic-state('../img/christine-bw.jpg', '../img/christine.jpg', top);
    }

    &.alex {
        @include pic-state('../img/christine-bw.jpg', '../img/christine.jpg', top);
    }

    &.brandon {
        @include pic-state('../img/christine-bw.jpg', '../img/christine.jpg', top);
    }

    &.andrew {
        @include pic-state('../img/christine-bw.jpg', '../img/christine.jpg', top);
    }

    &.joseph {
        @include pic-state('../img/christine-bw.jpg', '../img/christine.jpg', top);
    }

    &.karen {
        @include pic-state('../img/christine-bw.jpg', '../img/christine.jpg', top);
    }

    &.van-anh {
        @include pic-state('../img/christine-bw.jpg', '../img/christine.jpg', top);
    }

    &.thy {
        @include pic-state('../img/christine-bw.jpg', '../img/christine.jpg', top);
    }

    &.angela {
        @include pic-state('../img/christine-bw.jpg', '../img/christine.jpg', top);
    }

    &.linh {
        @include pic-state('../img/christine-bw.jpg', '../img/christine.jpg', top);
    }

    &.tessie {
        @include pic-state('../img/christine-bw.jpg', '../img/christine.jpg', top);
    }

    &.christine {
        @include pic-state('../img/christine-bw.jpg', '../img/christine.jpg', top);
    }
}