<!-- Hero -->
<section id="hero-wp" class="hero condensed overlap">
    <div class="hero-body container flex center">
        <h1 class="page-title">Wedding Party</h1>
    </div>
</section>
<!--
            <span class="more-bio-toggle btn btn-icon fa fa-angle-down"></span>-->
<section class="container page-content text-content txt-center">
    <div class="wp-wrapper">
        <ng-container 
            *ngFor="let bio of bridesmaids; let i=index"
            [ngTemplateOutlet]="pair" 
            [ngTemplateOutletContext]="{$implicit: i}">
        </ng-container>
    </div>
</section>

<ng-template #pair let-index>
    <div class="wp-pair">
        <div class="bridemaids">
            <ng-container
                [ngTemplateOutlet]="bioItem"
                [ngTemplateOutletContext]="{$implicit: bridesmaids[index], id: index }">
            </ng-container>
        </div>
        <div class="groomsmen">
            <ng-container
                [ngTemplateOutlet]="bioItem"
                [ngTemplateOutletContext]="{$implicit: groomsmen[index], id: index + 7 }">
            </ng-container>
        </div>
    </div>
</ng-template>

<ng-template #bioItem let-bio let-id="id" let-active="active">
    <div class="person" [ngClass]="bio.class" [class.active]="bioActive[id]">
        <div class="pic" [ngClass]="bio.imageClass" (click)="toggleBio(id)">
            <a class="btn btn-icon bio-toggle" [ngClass]="bio.class">
                <i class="fa fa-plus"></i>
            </a>
        </div>
        <div class="name-wrapper txt-center">
            <h3 class="name"><strong>{{ bio.name }}</strong></h3>
            <h4 class="title">{{ bio.title }}</h4>
        </div>
        <div class="bio" [class.active]="bioActive[id]">
            <div class="pic bio-bg" [ngClass]="bio.imageClass" [class.active]="bioActive[id]"></div>
            <div class="bio-content">
                <a class="btn btn-icon bio-close" (click)="toggleBio(id)" [ngClass]="bio.class">
                    <i class="fa fa-times"></i>
                </a>
                <div class="bio-name-wrapper txt-center">
                    <h1 class="name"><strong>{{ bio.name }}</strong></h1>
                    <h3 class="title">{{ bio.title }}</h3>
                </div>
                <p class="bio-text txt-just" [innerHtml]="bio.text"></p>
            </div>
        </div>
    </div>
</ng-template>