// Colors
// white
$white-antique: #FAEBD7;
$white-daisy: #e9e7da;
// blue
$blue-dusty-dark: #096c8a;
$blue-dusty-light: #5a86ad;
$bluebell: #155765;
$clean: #a7d2cb;
// gray
$gray: #545454;
$charcoal: #3c3c3c;

// yellow
$mustard-yellow: #FFD67C;
$butter: #f2d388;
$gold: #cda34f;
$ornate: #ab9353;
// red
$eggplant: #874c62;
$plum: #4d2c3d;
$chilli: #af473c;
$terracotta: #945d60;
$salmon: #c98474;

// green
$herb: #626e60;
$stem: #636b46;
$olive: #57652A;
$greenery: #373f27;

// FONTS
$grand-hotel-font: 'Grand Hotel','Helvetica Neue',Helvetica,Arial,sans-serif;
$crushed-font: 'Crushed','Helvetica Neue',Helvetica,Arial,sans-serif;
$pacifico-font: 'Pacifico','Helvetica Neue',Helvetica,Arial,sans-serif;
$nova-mono-font: 'Nova Mono','Helvetica Neue',Helvetica,Arial,sans-serif;
$overlock-font: 'Overlock','Helvetica Neue',Helvetica,Arial,sans-serif;

// SCREEN
$max-width-xs: 767px;
$min-width-sm: 768px;
$max-width-sm: 1023px;
$min-width-md: 1024px;
$max-width-md: 1279px;
$min-width-lg: 1280px;
$max-width-lg: 1679px;
$min-width-xl: 1680px;
