@font-face {
    font-family: 'wedding-icon';
    src:  url('../fonts/wedding-icon/wedding-icon.eot?xjboi5');
    src:  url('../fonts/wedding-icon/wedding-icon.eot?xjboi5#iefix') format('embedded-opentype'),
      url('../fonts/wedding-icon/wedding-icon.ttf?xjboi5') format('truetype'),
      url('../fonts/wedding-icon/wedding-icon.woff?xjboi5') format('woff'),
      url('../fonts/wedding-icon/wedding-icon.svg?xjboi5#wedding-icon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^='ico-'], 
  [class*='ico-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'wedding-icon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.ico-stair:before {
  content: '\e932';
}
.ico-seed:before {
  content: '\e933';
}
.ico-talk:before {
  content: '\e934';
}
.ico-proposal:before {
  content: '\e935';
}
.ico-journey:before {
  content: '\e936';
}
.ico-altar:before {
  content: '\e937';
}
.ico-balloons:before {
  content: '\e900';
}
.ico-bed:before {
  content: '\e901';
}
.ico-bell:before {
  content: '\e902';
}
.ico-bouquet:before {
  content: '\e903';
}
.ico-bow:before {
  content: '\e904';
}
.ico-bow-tie:before {
  content: '\e905';
}
.ico-camcorder:before {
  content: '\e906';
}
.ico-candles:before {
  content: '\e907';
}
.ico-carriage:before {
  content: '\e908';
}
.ico-champagne:before {
  content: '\e909';
}
.ico-champagne-1:before {
  content: '\e90a';
}
.ico-chat:before {
  content: '\e90b';
}
.ico-church:before {
  content: '\e90c';
}
.ico-cocktail:before {
  content: '\e90d';
}
.ico-cupcake:before {
  content: '\e90e';
}
.ico-cupid:before {
  content: '\e90f';
}
.ico-cupid-1:before {
  content: '\e910';
}
.ico-diamond:before {
  content: '\e911';
}
.ico-diploma:before {
  content: '\e912';
}
.ico-doorknob:before {
  content: '\e913';
}
.ico-dove:before {
  content: '\e914';
}
.ico-ring:before {
  content: '\e915';
}
.ico-ring-1:before {
  content: '\e916';
}
.ico-eternity:before {
  content: '\e917';
}
.ico-fireworks:before {
  content: '\e918';
}
.ico-garland:before {
  content: '\e919';
}
.ico-gift:before {
  content: '\e91a';
}
.ico-heart:before {
  content: '\e91b';
}
.ico-heart-1:before {
  content: '\e91c';
}
.ico-high-heel:before {
  content: '\e91d';
}
.ico-key:before {
  content: '\e91e';
}
.ico-kiss:before {
  content: '\e91f';
}
.ico-microphone:before {
  content: '\e920';
}
.ico-music:before {
  content: '\e921';
}
.ico-padlock:before {
  content: '\e922';
}
.ico-camera:before {
  content: '\e923';
}
.ico-marker:before {
  content: '\e924';
}
.ico-room-service:before {
  content: '\e925';
}
.ico-rose:before {
  content: '\e926';
}
.ico-suitcase:before {
  content: '\e927';
}
.ico-toast:before {
  content: '\e928';
}
.ico-tuxedo:before {
  content: '\e929';
}
.ico-wedding:before {
  content: '\e92a';
}
.ico-arch:before {
  content: '\e92b';
}
.ico-cake:before {
  content: '\e92c';
}
.ico-cake-1:before {
  content: '\e92d';
}
.ico-schedule:before {
  content: '\e92e';
}
.ico-dress:before {
  content: '\e92f';
}
.ico-invitation:before {
  content: '\e930';
}
.ico-invitation-1:before {
  content: '\e931';
}
