<!-- Intro Header -->
<section id="hero-home" class="hero fullscreen">
    <div class="hero-body">
        <div>
            <div class="announce">
                <div class="announce-name">
                    <span class="name">Minh</span>
                    <span class="and">+</span>
                    <span class="name">Theresa</span>
                </div>
                <div class="announce-sub-text upper bold">Are Getting Married</div>
            </div>
            <div class="save-the-date upper bold">
                <div>Join Us</div>
                <div>September 28, 2019</div>
            </div>
            <div class="btn-container">
                <a class="btn btn-secondary">Save The Date</a>
                <a class="btn btn-secondary nav-item" href="#rsvp">RSVP</a>
            </div>
        </div>
        <a class="lnk lnk-secondary lnk-story page-scroll" routerLink="/" fragment="the-story">
            The Story<i class="fa fa-level-down-alt"></i>
        </a>
    </div>
</section>

<!-- About Section -->
<section id="story" class="tl-wrapper" >
    <nav class="tl-nav-wrapper" id="timeline-nav">
        <div class="tl-nav">
            <a class="btn btn-secondary btn-top page-scroll" (click)="toTop()">
                <i class="fa fa-angle-double-up"></i>
            </a>
            <a class="tl-nav-link" routerLink="/" fragment="the-stair">
                <span class="tl-nav-icon"><i class="ico-stair"></i></span>
            </a>
            <a class="tl-nav-link" routerLink="/" fragment="the-seed">
                <span class="tl-nav-icon"><i class="ico-seed"></i></span>
            </a>
            <a class="tl-nav-link" routerLink="/" fragment="the-talk">
                <span class="tl-nav-icon"><i class="ico-talk"></i></span>
            </a>
            <a class="tl-nav-link" routerLink="/" fragment="the-journey">
                <span class="tl-nav-icon"><i class="ico-journey"></i></span>
            </a>
            <a class="tl-nav-link" routerLink="/" fragment="the-proposal">
                <span class="tl-nav-icon"><i class="ico-proposal"></i></span>
            </a>
            <a class="tl-nav-link" routerLink="/" fragment="the-altar">
                <span class="tl-nav-icon"><i class="ico-altar"></i></span>
            </a>
        </div>
    </nav>

    <section class="tl-section-container intro" id="the-story">
        <div class="tl-section-content">
            <h2 class="txt-left">From the stairs...</h2>
            <h2 class="txt-right">...to the altar</h2>
            <p class="txt-just">
                This is the story of how Minh stumbled upon Theresa and the journey that lead them to the altar.
            </p>
            <p class="txt-center">
                Scroll down or use the navigation on the right.
            </p>
            <div class="txt-center"><i class="fa fa-hand-point-right"></i></div>
        </div>
    </section>

    <section class="tl-section-container stairs" id="the-stair">
        <div class="tl-section-content txt-left">
            <h2>The Stairs</h2>
            <p class="txt-just">
                After a night of the stereotypical college experience, Theresa found herself unable to walk up the stairs to go to sleep. It was then that Minh swooped in and assisted her up the stairs along with some other Selva hallmates.
                <br><br>
                The next day at the Mesa Commons Dining Hall, Minh and Theresa met again in line for a chicken sandwich. 
            </p>
            <p>
                Minh asked, <em>"Hi, Theresa. Do you remember me?"</em><br>
                Theresa replied, <em>"Um, who are you?"</em><br>
                He said, <em>"I helped you up the stairs last night..."</em><br>
                And she responded with an awkward glare, <em>"Ohh...thanks..."</em>
            </p>
            <p class="txt-just">
                And that was the end of their encounter until they met again in Mustard Seeds three months later.
            </p>
        </div>
    </section>

    <section class="tl-section-container seed" id="the-seed">
        <div class="tl-section-content">
            <h2 class="">The SEED</h2>
            <p class="txt-just">
                In the Spring of 2013, Minh and Theresa began to serve on SEED retreat together. SEED retreats involve a lot of meetings and bonding prior to the retreat. Through this process, they learned more about each other and grew closer as friends. It was then that a "seed" formed in Minh’s heart. Some people call it feelings, others may call it a spark. It was Theresa’s quirky personality, love of children, and her faith in God that drew Minh’s attention.
                <br><br>
                He then began to think of the possibility of them being together in a relationship. In true Ignatian spirit, he took the next 6 months to discern whether the feelings were real and if he was brave enough to ask her out. So dramatic, riiiight?
            </p>
        </div>
    </section>

    <section class="tl-section-container talk" id="the-talk">
        <div class="tl-section-content">
            <h2 class="">The Talk</h2>
            <p class="txt-just">
                After Mustard Seeds’ first and only win of the Fall 2013 intramural volleyball season, the group went to celebrate at In-N-Out at UTC. Not sure why, but Minh thought it was wise to ask her out right there and then. After getting his double patty protein style burger, he asked Theresa to sit across from him.
            </p>
            <p>
                Minh asked, <em>"Hey Theresa, do you want to go on a date?"</em><br>
                Theresa puzzled, <em>"What do you mean by a date? Like a date date?"</em><br>
                Minh explained, <em>"Yeah, like a date date. Like I like you kinda date"</em><br>
                Theresa responded, <em>"But we are friend, wouldn’t it be weird?"</em><br>
                Minh said confidently, <em>"Nope!"</em><br>
                Theresa replied, <em>"Uhm, I’ll think about it."</em><br>
                Minh said, <em>"Ok!"</em> and resumed eating his burger.
            </p>
            <p class="txt-just">
                After consulting her clan of female friends (aka her roomates), she agreed to go because well, free food!! What  motivates college-aged students more than free food, right?
            </p>
        </div>
    </section>

    <section class="tl-section-container journey" id="the-journey">
        <div class="tl-section-content">
            <h2>The Journey</h2>
            <p class="txt-just">
                <b>First date?</b> Sushi dinner (because it’s Theresa’s favorite food) and a walk around Downtown Disney
                <br><br>
                <b>Best date?</b> The 1<sup>st</sup> Valentine’s Day as a couple, Minh planned a surprise picnic at the Bunny Park in Newport Beach and made Theresa a mix CD. 
                <br><br>
                <b>Funniest date?</b> On their 2<sup>nd</sup> anniversary, we decided to be fancy shmancy and went to Mastro’s for a steak dinner. The waiter asked if we wanted a blue crab topping on the steak. We thought it was free so we said, "Yes!" And then it came out to be an additional $20 on the check. At least there was free cake for the anniversary and delicious bread (which we boxed, bagged, and forgot on the table).
                <br><br>
                <b>Cheesiest thing?</b> Since we have a common love for music, we decided to choose each year to define each year’s experiences in our relationship. The songs you hear on the website are their songs.
                <br><br>
                <b>Fun Facts?</b> During the dating period up until we became an official couple, Minh would randomly ask Theresa to marry him, which she would reject every time. Talk about go big or go home, right?
            </p>
        </div>
    </section>

    <section class="tl-section-container proposal" id="the-proposal">
        <div class="tl-section-content">
            <h2>The Proposal</h2>
            <p class="txt-just">
                After a joint discussion with both families, Minh and Theresa decided they were ready for the next step. The following week on February 4, 2018, Theresa was to run her third and final Beach Cities half marathon so Minh thought it would be a great opportunity to propose after her race.
                <br><br>
                With the help of some of their awesome friends and family, he surprised her by proposing by the ocean on the sands of Huntington Beach. He picked this day because In the moments when she thinks she's sweaty and unflattering, she would still be the most beautiful person to him and he would always want to marry her everyday of his life. 
                <br><br>
                It truly was a perfect moment.
            </p>
        </div>
    </section>

    <section class="tl-section-container altar" id="the-altar">
        <div class="tl-section-content">
            
            <h2>The Altar</h2>
            <p class="txt-just">
                You have been a part of our story throughout the past 5 years and have made an impact on our lives either individually or jointly. Therefore, we cordially invite you to witness and celebrate this next chapter of our story on <b><em>September 28, 2019</em></b>. 
            </p>
            <div class="btn-container txt-center">
                <a class="btn btn-secondary">Save The Date</a>
                <a class="btn btn-secondary nav-item" href="#rsvp">RSVP</a>
            </div>
        </div>
    </section>
</section>