@import '../../shared/styles/variables.scss';
@import '../../shared/styles/mixins.scss';

$header-height: 6rem;
// HERO
#hero-home {
    background-image: url(../img/hero-home.jpg);

    &:after {
        height: 100vh;
    }

    .hero-body {
        padding: $header-height 3rem 1rem;
        @include flexbox();
        @include flex-dir(column);
        @include justify-content(space-between);
    }
    .announce {
        text-shadow: 0 0 0.2rem $blue-dusty-dark;
    }
    
    .announce-name {
        font-family: $grand-hotel-font;
        @include flexbox();
        @include justify-content(center);
        @include flex-dir(column);
        @include align-items(center);
        
        @media (max-width: $max-width-xs){
            font-size: 5rem;
            line-height: 3.5rem;
        }
        @media (min-width: $min-width-sm){
            font-size: 8rem;
            line-height: 5rem;
        }
    }
    .and {
        margin-top: -.5rem;
        margin-bottom: -1.5rem;
    }
    .save-the-date {
        color: $eggplant;
        line-height: 1.5;
        font-size: 1.75rem;
    
        div{
            display: inline-block;
        }
    }
    
    .lnk-story {
        width: 100%;
        position: relative;
        font-family: $grand-hotel-font;
        color: $white-antique;
    
        &:hover {
            color: $blue-dusty-dark;
        }
    
        i {
            top: 100%;
            left: 50%;
            position: absolute;
            transform: translate(-50%, -50%);
        }
        @media (max-width: $max-width-xs) {
            font-size: 3rem;

            i {
                font-size: 1.5rem;
            }
        }

        @media (min-width: $min-width-sm){
            font-size: 4rem;

            i {
                font-size: 1.75rem;
            }
        }
    }    
        
    @media (max-width: $max-width-xs){
        .announce-sub-text {
            font-size: 1.75rem;
        }    
    }

    @media (min-width: $min-width-sm){
        .announce-wrapper {
            margin-top: 4rem;
        }

        .announce-sub-text {
            font-size: 2rem;
        }

        .save-the-date-wrapper {
            width: 21rem;
            margin: 0 auto;
        }

        .save-the-date {
            font-size: 2rem;
        }
    }
}

// TIMELINE
$tl-color: $blue-dusty-dark;
.tl-wrapper {
    min-height: 100vh;
    color: $tl-color;
    position: relative;
    font-size: 12px;
    max-width: 1024px;
    margin: auto;

    // TIMELINE SECTION
    .tl-section-container {
        color: #3f3f3f;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        background: white;
        min-height: 100vh;
    }

    .tl-section-content {
        width: 100%;
        font-size: 1.125rem;
    
        h1, h2, h3 {
            font-family: $grand-hotel-font;
        }

        p {
            font-family: $overlock-font;
            div {
                font-family: inherit;
                font-size: inherit;
            }
        }
    
        .convo {
            margin-left: 1rem;
            font-size: 1rem;
        }

        @media (max-width: $max-width-xs){
            padding: 2rem 3.5rem 1rem 1rem;

            h1, h2, h3 {
                margin: 0 0 0.5rem;
            }
            p {
                line-height: 1.25rem;
            }
        }

        @media (min-width: $min-width-sm){
            padding: $header-height 4rem 2rem 2rem;
            font-size: 1.5rem;

            p {
                margin-bottom: 1rem;
            }
            
            h1, h2, h3 {
                width: 26rem;
                margin: 0 auto .5rem;
            }

            .convo {
                margin-left: 2rem;
                font-size: 1.375rem;
            }
        }
    }
    
    .stairs, .seed, .talk, .journey, .proposal, .altar {
        h1, h2, h3 {
            text-align: center;
        }
    }
}

@media (min-width: $min-width-sm){

    .btn-container {
        width: 21rem;
        margin: auto;
    }
    .btn {
        font-size: 1.5rem;
    }
}

// TIMELINE NAV
.tl-nav-wrapper {
    opacity: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    max-height: 100vh;
    z-index: 1;
    @include flexbox();
    @include justify-content(flex-end);
}

$tl-nav-padding: 1em;
.tl-nav {
    position: relative;
    left: 0;
    list-style-type: none;
    @include flexbox();
    @include flex-dir(column);
    @include justify-content(space-around);
    @include transition(all .5s ease-in-out);
}

.tl-nav-link {
    font-size: 1.25em;
    display: block;
    padding: 1em 0;
    color: $tl-color;
    @include flexbox();
    @include flex-dir(row-reverse);
    @include align-items(center);
    @include transition(all 1s ease-in-out);
    
    span {
        @include transition(all 0.3s ease-in-out);
    }
    &:hover,
    &.alt:hover,
    &.alt.active {
        .tl-nav-icon {
            color: $blue-dusty-dark;
            border-color: $blue-dusty-dark;
            width: 2.5rem;
            height: 2.5rem;
            font-size: 1.5625rem;
            padding: 0.125rem 0 0 0.125rem;
        }
    }
    
    &.active {
        .tl-nav-icon {
            color: $eggplant;
            border-color: $eggplant;
            width: 3.125rem;
            height: 3.125rem;
            font-size: 2.1875rem;
            padding: 0.125rem 0 0 0.5rem;
        }
    }


    &:focus {
        background-color: transparent;
    }
}

.tl-nav-icon {
    font-size: 1.5625rem;
    background: white;
    border: 0.125rem solid $blue-dusty-dark;
    color: $blue-dusty-dark;
    width: 2.5rem;
    height: 2.5rem;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    text-align: center;
    padding: 0.125rem 0 0 0.125rem;
    border-right: 0;
}

$circle-button-size: 3rem;
a.btn-top {
    font-size: 2rem;
    padding: 0;
    width: $circle-button-size;
    height: $circle-button-size;
    box-shadow: 0 0 4px $tl-color;
    overflow: hidden;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include align-self(flex-end);
}

.tl-nav-counter {
    width: .4em;
    text-align: left;
    display: none;
}

.tl-nav-divider {
    width: .5em;
    margin: 0 .5em;
    border: 1px solid $tl-color;
    box-shadow: 0 0 4px $tl-color;
    display: none;
}

.tl-nav-title {
    margin: 0; 
    width: 4.5em;
    text-align: right;
    display: none;
}

.tl-nav-body {
    @include transition(all 0.3s ease-out);
}