// out: ../css/home.css, compress: true, sourceMap: false
@import "../../shared/styles/variables.scss";
@import "../../shared/styles/mixins.scss";

// HERO
#hero-home {
    background-image: url(../img/hero-home.jpg);
    font-size: 1rem;
}

.hero-body {
    padding: 4rem 3rem 1rem;
    @include flexbox();
    @include flex-dir(column);
    @include justify-content(space-between);
}

.announce,.save-the-date {
    text-shadow: 0 0 4px $blue-dusty-dark;
}

.announce-name {
    font-family: $grand-hotel-font;
    @include flexbox();
    @include justify-content(center);
    @include flex-dir(column);
    @include align-items(center);

    span {
        line-height: 4rem;
    }

    .name {

        &.txt-right {
            text-align: right;
        }
    }

    .and {    
        line-height: 3rem;
        margin-bottom: -1.5rem;
    }

}

.announce-sub-text {
    font-size: 1.5rem;
    line-height: 1.5;
}

.save-the-date {
    color: $mustard-yellow;
    line-height: 1.5;
    font-size: 1.4rem;

    div{
        display: inline;
    }
}

.lnk-story {
    font-family: $grand-hotel-font;
    width: 100%;
    text-decoration: underline;
    font-size: 2.5rem;

    i {
        font-size: .5em;
        position: relative;
        top: 1em;
        right: -.1em;
    }
}

.btn-container {
    font-size: 1.25rem;
}
@media (min-width: 600px){
    .btn-container {
        font-size: 1.5rem;
    }
    .lnk-story {
        font-size: 4rem;
    }
}
@media (min-width: 768px){
    #hero-home {
        font-size: 3rem;
    }
    .announce {
        margin-top: 4rem;
    }
    .announce-name {
        font-size: 7rem;

        .name {
            width: 23rem;
        }

        .and {
            line-height: 4rem;
            margin-bottom: -1.6rem;
        }
    }
    .announce-sub-text {
        font-size: 2rem;
        line-height: 2;
    }
    .save-the-date {
        font-size: 1.6rem;
        div {
            display: inline;
        }
    }

    .lnk-story {
        font-size: 4.5rem;

        i {
            font-size: 0.6em;
            top: 42px;
        }
    }
}

// TIMELINE
$tl-color: $blue-dusty-dark;
.tl-wrapper {
    min-height: 100vh;
    color: $tl-color;
    position: relative;
    font-size: 12px;
    max-width: 1024px;
    margin: auto;
}
// TIMELINE SECTION
.tl-section-container {
    color: #3f3f3f;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    background: white;
    min-height: 100vh;
}
.tl-section-content {
    padding: 2rem 5rem 2rem 2rem;
    width: 100%;
    font-size: 1.5rem;

    h1, h2, h3 {
        font-family: $grand-hotel-font;
        margin: 0;
    }
    p {
        font-family: $overlock-font;
        div {
            font-family: inherit;
            font-size: inherit;
        }
    }
}

.stairs, .seed, .talk, .journey, .proposal, .altar {
    h2 {
        text-align: center;
    }
    p{
        font-size: 1.2rem;
    }
}

.talk {
    p{
        font-size: 1.1rem;
    }
}

.journey {
    p {
        font-size: 1rem;
    }
}

// TIMELINE NAV
.tl-nav-wrapper {
    position: fixed;
    bottom: 0;
    top: 0; // TODO: remove for dynamic scroll
    right: 0;
    max-height: 100vh;
    z-index: 1;
    @include flexbox();
    @include justify-content(flex-end);
}

$tl-nav-padding: 1em;
.tl-nav {
    position: relative;
    left: 0;
    list-style-type: none;
    @include flexbox();
    @include flex-dir(column);
    @include justify-content(space-around);
    @include transition(all .5s ease-in-out);
}

.tl-nav-link {
    font-size: 1.25em;
    display: block;
    padding: 1em 0;
    color: $tl-color;
    @include flexbox();
    @include flex-dir(row-reverse);
    @include align-items(center);
    @include transition(all 1s ease-in-out);
    
    span {
        @include transition(all 0.3s ease-in-out);
    }
    
    &:hover, 
    &.active {
        .tl-nav-icon {
            color: $eggplant;
            border-color: $eggplant;
            width: 3rem;
            height: 3rem;
            font-size: 2rem;
            padding: 0.1rem 0 0 0.4rem;
        }
    }

    &.alt {
        .tl-nav-icon{
            padding: 0.15rem 0 0 0.1rem;

            &:hover,
            &.active {
                color: $blue-dusty-dark;
                border-color: $blue-dusty-dark;
                width: 2.5rem;
                height: 2.5rem;
                font-size: 1.5rem;
                padding: 0.15rem 0 0 0.1rem;
            }
        }
    }

    &:focus {
        background-color: transparent;
    }
}

.tl-nav-icon {
    font-size: 1.5rem;
    background: white;
    border: 0.1rem solid $blue-dusty-dark;
    color: $blue-dusty-dark;
    width: 2.5rem;
    height: 2.5rem;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    text-align: center;
    padding: 0.2rem 0 0 0.2rem;
    border-right: 0;
}

$circle-button-size: 3rem;
a.btn-top {
    font-size: 2rem;
    padding: 0;
    width: $circle-button-size;
    height: $circle-button-size;
    box-shadow: 0 0 4px $tl-color;
    overflow: hidden;
    @include flexbox();
    @include justify-content(center);
    @include align-items(center);
    @include align-self(flex-end);
}

.tl-nav-counter {
    width: .4em;
    text-align: left;
    display: none;
}

.tl-nav-divider {
    width: .5em;
    margin: 0 .5em;
    border: 1px solid $tl-color;
    box-shadow: 0 0 4px $tl-color;
    display: none;
}

.tl-nav-title {
    margin: 0; 
    width: 4.5em;
    text-align: right;
    display: none;
}

.tl-nav-body {
    @include transition(all 0.3s ease-out);
}

@media (min-width: 600px){
    .tl-wrapper {
        font-size: 1rem;
    }

    .tl-nav-wrapper {
        right: 2rem;
    }

    .tl-nav {
        right: -1.6em;
    }

    .tl-nav-counter {
        width: 1em;
    }

    .tl-nav-title {
        width: 5em;
    }

    .tl-section-content {
        h2 {
            font-size: 4rem;
        }
        p{
            font-size: 1.5rem;
        }
    }
    .intro {
        p {
            font-size: 2rem;
        }
        div {
            font-size: 3rem;
        }
    }
    .talk, .journey {
        p {
            font-size: 1.4rem;
        }
    }
    .altar {
        .btn-container {
            font-size: 1.75rem;
        }
    }
}

@media (min-width: 768px){
    .tl-nav {  
        padding-top: 7em;
        height: calc(100% - 8em);
    }
    .tl-nav-title {
        width: 6em;
    }
    .tl-section-content {
        padding: 2rem 8rem 2rem 5rem;
        p{
            font-size: 1.5rem;
        }
    }
}

@media (min-width: 1024px){
    .tl-nav {
        padding-top: 8em;
        height: calc(100% - 9em);
    }
    .tl-nav-title {
        width: 7em;
    }
}